@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #dfe7ef 50%, #99a6bd 100%);
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
}

main {
    width: 350px;
    height: 500px;
    background: #eef3f7;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent, 95%, white);
}

.logo {
    position: relative;
    top: -60px;
    width: 12em;
    height: 12.5em;
    filter: contrast(110%) brightness(110%);
}

.id_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -25px;
}

label{
    margin: 1em;
    margin-top: 20px;
    margin-right: 0.45em;
    position: absolute;
    font-size: 1.45rem;
    font-family: 'Amiri', sans-serif;
    font-style: italic;
    color: grey;
    transition: transform 0.2s ease;
    pointer-events: none;
}

input {
    direction: rtl;
    width: 12em;
    height: 2em;
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    background-color: transparent;
    font-size: 1.25rem;
    transition: border 0.1s ease;
}

input::placeholder {
    color: transparent;
}


input:focus, input:not(:placeholder-shown){
    color: #0e9297;
    font-weight: 600;
    border-image: linear-gradient(to right, #0e9297, #106568);
    border-image-slice: 1;
    outline: none;
    border-width: 2.5px;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label{
    transform: translateY(-30px);
    color: #0e9297;
    font-size: 1.5rem;
    font-weight: 550;
}

.gradient-button {
    display: block;
    position: relative;
    margin-top: 30px;
    height: 70px;
    width: 135px;
    z-index: 1;
    color: #484848;
    background: transparent linear-gradient(to top left, rgba(249,208,129,.2) 0%, rgba(227,2,62,.2) 40%, rgba(49,128,135,.2) 100%);
    border: 4px solid transparent;
    border-image-source: linear-gradient(to top left, rgba(249,208,129,1) 0%, rgba(227,2,62,1) 40%, rgba(49,128,135,1) 100%);
    border-image-slice: 1;
    outline: none;
    font-size: 1.4rem;
    font-family: 'Amiri', sans-serif;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    opacity: 1;
    transition: transform 0.2s ease;
}

button:hover {
    background: transparent linear-gradient(to bottom left, rgba(249,208,129,.25) 10%, rgba(227,2,62,.25) 30%, rgba(49,128,135,.25) 90%);
    border-image-source: linear-gradient(to bottom left, rgba(249,208,129,1) 10%, rgba(227,2,62,1) 30%, rgba(49,128,135,1) 90%);
    transition: 0.7s linear;
    font-size: 1.5rem;
}

button:active{
    transform: scale(0.75)
}

#error_msg {
    position: relative;
    top: 25px;
    color: red;
    font-size: 1.5rem;
    font-family: 'Amiri', sans-serif;
    font-style: italic;
}