@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "Diwanii";
    src: url(bfantezy.woff2);
}

:root {
    --backgroundColour: radial-gradient(circle at top, #0f2a24, #020617) fixed;
    --header-backgroundColour: rgba(11, 34, 37);
    --article-backgroundColour: rgba(11, 34, 37, 75%);
    --header-fontColour: #d4d4d4;
    --main-fontColour1: #67e3a3;
    --main-fontColour2: #fafafa;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
body {
    display: flex;
    flex-direction: column;
    background: var(--backgroundColour);
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--header-backgroundColour);
    border-bottom: 1px solid rgba(255, 255, 255, 15%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
}

header > .header {
    margin: 1rem;
    margin-right: 2rem;
    font-size: 2.8rem;
    font-family: 'Amiri', sans-serif;
    color: var(--header-fontColour);
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Head {
    margin-top: 3.5em;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 7.5vw, 2.3rem);
    font-family: 'Amiri', sans-serif;
    font-style: italic;
}

#Head > h1[class="main-header"]{
    color: var(--main-fontColour1);
}

#Head > h1[class="main-header-caption"]{
    color: var(--main-fontColour2);
}

#appointment {
    position: relative;
    top: 18em;
    padding: .75em;
    margin: .5em;
    max-width: 700px;
    width: calc(90% - 2em);
    height: 500px;
    background-color: var(--article-backgroundColour);
    backdrop-filter: blur(20px);
    border-radius: .75em;
    border: 1px solid rgba(255, 255, 255, 15%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
    display: flex;
    flex-direction: column;
}

article > .main-header {
    font-size: 3.2rem;
    font-family: 'Amiri', sans-serif;
    font-style: italic;
    display: block;
    position: relative;
    top: 5%; right: 5%;
    color: #d4d4d4;
}

article > hr {
    position: relative;
    top: 10%;
    border: 1px solid rgba(255, 255, 255, 50%);
}

table {
    position: relative;
    top: 15%;
    width: 100%;
    border-radius: 0.75em;
    overflow: hidden;
}

thead {
    font-size: 1.5rem;
    font-family: 'Amiri', sans-serif;
    font-style: italic;
    color: #fafafa;
    background: rgba(148, 163, 184, 0.10);
}

th, td {
    padding: 1em;
    text-align: right;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

tbody tr {
    transition: 0.2s;
    color: rgb(250, 250, 250, 70%);
}

tbody tr:hover {
    background: rgba(255,255,255,0.05);
    transform: scale(1.01);
}

/* Status styles */
.ok {
    color: #22c55e;
    font-weight: bold;
    font-size: 1.3rem;
}

.warn {
    color: #facc15;
    font-weight: bold;
    font-size: 1.3rem;
}

.danger {
    color: #ef4444;
    font-weight: bold;
    font-size: 1.3rem;
}

#prescription {
    position: relative;
    top: 28em;
    padding: .75em;
    margin: .75em;
    max-width: 700px;
    width: calc(90% - 2em);
    height: 500px;
    background-color: var(--article-backgroundColour);
    backdrop-filter: blur(20px);
    border-radius: .75em;
    border: 1px solid rgba(255, 255, 255, 15%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
    display: flex;
    flex-direction: column;
}