@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-theme: linear-gradient(120deg, #dfe7ef 50%, #99a6bd 100%);
    --header-theme: rgb(11, 34, 37);
    --card-theme: #eef3f7;

    --header-textColour: #fafafa;
    --main-textColour: #0e9297;
    --secondary-textColour: #acb8cc;

}

@property --percentage {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-theme);
    background-repeat: no-repeat;
    background-size: cover;
}

#Head {
    width: 100%;
    padding-top: 4rem;
    margin-bottom: 1em;
    font-size: clamp(1.25rem, 5vw, 2rem);
    font-style: italic;
    font-family: 'Amiri', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .main-header {
        color: var(--main-textColour);
    }

    & .main-header-caption {
        color: #71829e;
    }
}

.cards {
    margin: 5rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;

    & .card {
        width: 100%;
        min-height: 240px;
        padding: 1.5rem;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        background: var(--card-theme);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
        transition: all 0.25s ease;


        & .title {
            font-size: clamp(1.85rem, 8vw, 2.4rem);
            font-weight: 500;
            font-style: italic;
            color: var(--main-textColour);
            margin-bottom: 1rem;
            text-align: right;
        }

        & .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .time-left {
                position: relative;
                top: -15px;
                font-size: clamp(2.25rem, 5vw, 2.75rem);
                font-weight: 600;
                color: var(--main-textColour); 
            }

            & .date, .dosage, .alert {
                font-size: 1.5rem;
                color: #71829e;
            }

            & .alert {
                font-size: clamp(1.2rem, 5vw, 1.5rem);
            }

            & .medicine {
                position: relative;
                top: -15px;
                font-size: clamp(1.8rem, 5vw, 2.2rem);
                color: var(--main-textColour);
            }

            & .diagnosis {
                position: relative;
                top: -25px;
                line-height: 1.5;
                font-size: clamp(1.85rem, 8vw, 2rem);
                color: #4e658e;
                border-radius: 10px;
            
                white-space: pre-line;
                text-align: center;
            }
        }
    }

    & .card:hover {
        transform: translateY(-5px) scale(1.025);
        box-shadow: 0 15px 35px rgba(0,0,0,0.12);
    }
}


.liquid-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

#liquid {
    max-width: 500px;
    margin-inline: auto;
}

#liquid .title{
    font-size: clamp(1.85rem, 8vw, 2.4rem);
}

.drink_percentage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 50%;
    background: conic-gradient(
        #3ad4a1 0%,
        #06b6d4 calc(var(--percentage) * 1%),
        #e2e8f0 0
    );
    transition: --percentage 1.5s ease-in-out;
}

.drink_percentage::after {
    content: '';
    position: absolute;
    width: 13.5rem;
    height: 13.5rem;
    z-index: 1;
    background: #fff;
    border-radius: inherit;
}

.drink_percentage > * {
    z-index: 2;
}

.drink_percentage > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-style: italic;
}

.drink_percentage > .percentage {
    position: relative;
    top: 15px;
    font-size: 1.75rem;
    color: #71829e;
}

#drink_btn {
    margin-top: 2em;
    width: 6.5rem;
    aspect-ratio: 15/7.5;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
    background: #41da90;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),
                0 0 25px #65cf9c;
    transition: transform 0.2s ease;
}

#drink_btn:hover {
    transform: scale(1.1);
}

#drink_btn:active {
    transform: scale(0.95);
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-top: 1.75em;
    transform: scale(1.2);
    opacity: 1;
}

/* hide default checkbox */
.switch input {
    display: none;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--secondary-textColour);
    border-radius: 50px;
    transition: 0.3s;
}


.slider::before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 3px;
    top: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}


.switch input:checked + .slider {
    background: #156874;
}

.switch input:checked + .slider::before {
    transform: translateX(22px);
    background: #ede6e6
}

.reminder-settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 2em;
}

label[for="wakeup"], label[for="bedtime"]{
    display: block;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    color: var(--main-textColour);
    margin: .5em 0;
}

input[type="time"] {
    width: 100%;
    padding: .5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25em;
    background-color: #dedede;
    color: #156874;
    font-size: 1rem;
    font-family: monospace;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(100%) grayscale(100%) brightness(150%);
    cursor: pointer;
}

input[type="time"]::-webkit-datetime-edit {
    cursor: text;
}

input[type="time"]:focus {
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 1.25em 0;
}

.submit-btn {
    width: 100px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #10ff83;
    border-radius: 0.25em;
    font-size: 1.2rem;
    font-family: 'Amiri', sans-serif;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.submit-btn:hover {
    transform: scale(1.075);
}

.submit-btn:active {
    transform: scale(0.85);
}

.reject-btn {
    width: 95px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #ff4c4c;
    border-radius: 0.25em;
    font-size: 1.2rem;
    font-family: 'Amiri', sans-serif;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.reject-btn:hover {
    transform: scale(1.075);
}
.reject-btn:active {
    transform: scale(0.85);
}

.reminder-settings,
.switch,
.alert {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}


.reminder-settings {
    display: none;
}

.visible {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.switch.visible,
.alert.visible {
    display: inline-block;
}

#error_msg {
    display: none;
    position: relative;
    font-size: 1.4rem;
    font-family: 'Amiri', sans-serif;
    font-style: italic;
    color: #ff6868;
    top: -30px;
    text-align: center;
}